root {
  --navigator-toolbox-background: #323234;
  --navigator-toolbox-color: white;
  --zotero-toolbar-border-bottom: #1d1d1d;
  --label-color: black;
  --input-background: #474749;
  --tag-selector-item-hover-background: #bbcef1;
  --row-hover-background: #7e7e7e;
  --tabs-border: red;
  --tab-not-border-top: #0a84ff;
  --tab-not-border-left: rgba(127, 127, 127, 0.2);
  --tab-color: #eee;
  --tab-hover-background: #e0e8f6;
  --retraction-details-background: #7f0000;
  --blockquote: rgb(255, 248, 248);
}

#zotero-tb,
#zotero-toolbar,
#navigator-toolbox {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#zotero-toolbar {
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#navigator-toolbox menu {
  color: var(--navigator-toolbox-color) !important;
}

#manage-attachments-menu label,
#developer-menu label,
#layout-menu label,
#note-font-size-menu label,
#font-size-menu label,
#debug-output-menu label,
#new-item label {
  color: var(--label-color) !important;
}

#zotero-tag-selector-container {
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
  border-top: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-tag-selector-container input {
  background: var(--input-background) !important;
  border: 1px solid var(--zotero-toolbar-border-bottom) !important;
  color: var(--navigator-toolbox-color) !important;
}

.tag-selector-list-container {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

.tag-selector-item:hover {
  background: var(--tag-selector-item-hover-background) !important;
  color: var(--label-color) !important;
}

.tag-selector-item {
  background: var(--input-background) !important;
}

#zotero-tb-search {
  background-color: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-pane {
  background: var(--navigator-toolbox-background) !important;
  color: var(--label-color) !important;
}

treechildren {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

.virtualized-table .row {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

.virtualized-table .row.selected {
  background: var(--input-background) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

.virtualized-table:not(:focus) .row.selected {
  background: var(--input-background) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

.row:hover {
  background: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#zotero-item-pane-content {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

.tabs {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border: 0px solid var(--tabs-border) !important;
}

.tab {
  color: var(--row-hover-background) !important;
  background: var(--navigator-toolbox-background) !important;
}

.tab:hover {
  background: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

.tab:not(:focus) {
  color: var(--row-hover-background) !important;
  background: var(--navigator-toolbox-background) !important;
  border-top: 0px solid var(--tab-not-border-top) !important;
  border-left: 0px solid var(--tab-not-border-left) !important;
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

.tab.selected:not(.highlighted) {
  color: var(--navigator-toolbox-color) !important;
  background: var(--navigator-toolbox-background) !important;
  border-top: 3px solid var(--tab-not-border-top) !important;
  border-left: 0px solid var(--tab-not-border-left) !important;
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-collections-tree {
  background: var(--navigator-toolbox-background) !important;
}

#zotero-collections-tree treechildren::-moz-tree-row(hover) {
  background: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#zotero-collections-tree treechildren::-moz-tree-cell(selected) {
  background: var(--input-background) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-collections-tree treechildren::-moz-tree-cell-text(selected) {
  color: var(--navigator-toolbox-color) !important;
}

#zotero-collections-tree treechildren {
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-collections-tree .virtualized-table {
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-items-tree {
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
  background: var(--navigator-toolbox-background) !important;
}

#zotero-items-tree treechildren::-moz-tree-row(hover) {
  background: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#zotero-items-tree treechildren::-moz-tree-row(selected) {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-items-tree treechildren::-moz-tree-cell-text(selected) {
  color: var(--navigator-toolbox-color) !important;
}

#zotero-items-tree treecol {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-items-tree .virtualized-table-header {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-items-tree .virtualized-table-header .cell:hover {
  background: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

.treecol-image {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border-bottom: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-item-pane-content .zotero-clicky:hover {
  color: var(--label-color) !important;
}

tabpanel {
  color: var(--label-color) !important;
  background: var(--row-hover-background) !important;
}

tab[selected='true'] {
  color: var(--label-color) !important;
  background: var(--navigator-toolbox-color) !important;
}

tab {
  color: var(--tab-color) !important;
  background: var(--input-background) !important;
  border-top: 0px solid var(--label-color) !important;
  border-left: 0px solid var(--label-color) !important;
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

tab:hover {
  color: var(--label-color) !important;
  background: var(--tab-hover-background) !important;
}

#zotero-duplicates-merge-pane > groupbox > .groupbox-body {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#zotero-item-pane-content > groupbox > .groupbox-body {
  background: var(--navigator-toolbox-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#retraction-details {
  background: var(--retraction-details-background) !important;
}

#zotero-item-pane-content {
  background: var(--navigator-toolbox-background) !important;
}

#zotero-item-pane-content tabpanel {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#tags-box-container ul li ul {
  background: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#tags-box-container input {
  background-color: var(--row-hover-background) !important;
  color: var(--navigator-toolbox-color) !important;
  border: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-item-pane-content tab[selected='true'] {
  background: var(--input-background) !important;
  border-top: 3px solid var(--tab-not-border-top) !important;
}

#zotero-item-pane-content tab {
  color: var(--tab-color) !important;
  background: var(--navigator-toolbox-background) !important;
  border-top: 0px solid var(--tab-not-border-top) !important;
  border-left: 0px solid var(--tab-not-border-left) !important;
  border-right: 1px solid var(--zotero-toolbar-border-bottom) !important;
}

#zotero-item-pane-content tab:hover {
  color: var(--navigator-toolbox-color) !important;
  background: var(--row-hover-background) !important;
}

#item-type-menu {
  color: var(--navigator-toolbox-color) !important;
}

#zotero-date-field-status {
  color: var(--navigator-toolbox-color) !important;
}

#zotero-prefpane-general,
#zotero-prefpane-sync,
#zotero-prefpane-export,
#zotero-prefpane-advanced-keys-tab,
#wordProcessors,
#zotero-quickCopy-format,
#sync-reset-form {
  color: var(--label-color) !important;
  background: var(--row-hover-background) !important;
}

#zotero-prefpane-general title {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

prefwindow {
  color: var(--label-color) !important;
  background: var(--row-hover-background) !important;
}

prefwindow .chromeclass-toolbar {
  color: var(--navigator-toolbox-color) !important;
  background: var(--navigator-toolbox-background) !important;
}

#aboutcontent {
  background: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#version {
  color: var(--navigator-toolbox-color) !important;
}

#zotero-advanced-search-dialog #zotero-search-box-controls {
  color: var(--label-color) !important;
  background: var(--row-hover-background) !important;
}

#zotero-note-editor linksbox {
  background-color: var(--input-background) !important;
  color: var(--navigator-toolbox-color) !important;
}

#zotero-note-window blockquote {
  color: var(--blockquote);
}
