:root {
  --white: rgb(11, 26, 42);
  --annotation-border: #45454d;
  --toolbarButton-background: #373a47;
  --toolbarButton-box-shadow: rgba(255, 255, 255, 0.1);
  ---moz-focusring-box-shadow: rgba(0, 0, 0, 0.33);
  --toolbarButton-active-background: rgb(123, 121, 139);
  --toolbarButton-active-border-color: #90c8f6;
  ---moz-focusring--after-box-shadow: rgba(10, 108, 245, 0.5);
  --container-border: #d7dad7;
  --react-autosuggest--suggestions-container--open-border: #aaa;
  --react-autosuggest--suggestions-container--open-box-shadow: rgba(
    0,
    0,
    0,
    0.4
  );
  --root-not-background: #f6f6f6;
  --root-not-border-bottom: #a9a9a9;
  --notes-list-container-background: #d2d8e2;
  --notes-list-container-border-top: #d3d3d3;
  --note-row-border: #bcc4d2;
  --active-background: #eef1f8;
  --date-color: #777;
  --progress-bar-background-image: rgba(255, 255, 255, 0.5);
  --tab-background: #f9f9f9;
  --tab-color: #000;
  --tab-selected-border-top: #678ac5;
  --tab-close-hover-background-color: rgba(0, 0, 0, 0.08);
  --active-background-color: rgba(0, 0, 0, 0.16);
  --row-drop-background: #bbb;
  --row-highlighted-background: #ff9;
  --column-drag-marker-background-color: #ccc;
  --cell-dragging-background: #e9e9e9;
  --svg-fill: #888;
  --row-selected-not-background: #8a8a8a;
  --row-selected-not-border-top: #979797;
  --virtualized-table-not-background: #7386ab;
  --virtualized-table-not-border-top: #94a1c0;
  ---moz-window-inactive-background-color: #e8e8e8;
  --row-selected-background: #dcdcdc;
}

:root:not([legacytoolbar='true']) {
  --tabs-border-color: rgba(0, 0, 0, 0.3);
  --tabline-color: #0a84ff;
  --toolbar-non-lwt-bgcolor: #f9f9fa;
  --toolbar-non-lwt-textcolor: #0c0c0d;
  --chrome-content-separator-color: hsl(0, 0%, 60%);
  --toolbarbutton-hover-background: hsla(0, 0%, 100%, 0.1)
    linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.1)) no-repeat;
  --toolbarbutton-hover-bordercolor: hsla(0, 0%, 0%, 0.2);
  --toolbarbutton-header-bordercolor: hsla(0, 0%, 0%, 0.2);
  --toolbarbutton-hover-boxshadow: 0 1px 0 hsla(0, 0%, 100%, 0.5),
    0 1px 0 hsla(0, 0%, 100%, 0.5) inset;
  --toolbarbutton-active-background: hsla(0, 0%, 0%, 0.02)
    linear-gradient(hsla(0, 0%, 0%, 0.12), transparent) border-box;
  --toolbarbutton-active-bordercolor: hsla(0, 0%, 0%, 0.3);
  --toolbarbutton-active-boxshadow: 0 1px 0 hsla(0, 0%, 100%, 0.5),
    0 1px 0 hsla(0, 0%, 0%, 0.05) inset, 0 1px 1px hsla(0, 0%, 0%, 0.2) inset;
  --toolbarbutton-inactive-bordercolor: rgba(0, 0, 0, 0.1);
  --toolbarbutton-inactive-boxshadow: 0 1px 0 hsla(0, 0%, 0%, 0.05) inset;
  --toolbarbutton-checkedhover-backgroundcolor: hsla(0, 0%, 0%, 0.09);
  --toolbarbutton-icon-fill-attention: var(
    --lwt-toolbarbutton-icon-fill-attention,
    #0a84ff
  );
  --row-grouped-header-bg-color: #d5d5d5;
  --row-grouped-header-bg-color-selected: #3874d1;
  --panel-separator-color: hsla(210, 4%, 10%, 0.14);
  --arrowpanel-dimmed: hsla(0, 0%, 80%, 0.3);
  --arrowpanel-dimmed-further: hsla(0, 0%, 80%, 0.45);
  --splitter-color: #bdbdbd;
  --urlbar-popup-url-color: hsl(210, 77%, 47%);
  --urlbar-popup-action-color: hsl(178, 100%, 28%);
}

[theme='dark'] .toolbarButton {
  background: linear-gradient(
    to bottom,
    var(--toolbarButton-background),
    var(--toolbarButton-background)
  );
  box-shadow: inset 0 1px 0 var(--toolbarButton-box-shadow),
    0 0 0 1px var(--toolbarButton-box-shadow),
    0 1px 0 var(--toolbarButton-box-shadow);
}

[theme='dark'] .toolbarButton:-moz-focusring {
  box-shadow: 0 0 0 4px var(---moz-focusring-box-shadow),
    inset 0 1px 0 var(---moz-focusring-box-shadow),
    0 0 0 1px var(---moz-focusring-box-shadow),
    0 1px 0 var(--toolbarButton-box-shadow);
}

[theme='dark'] .toolbarButton:active,
.toolbarButton.active {
  background: linear-gradient(
    to bottom,
    var(--toolbarButton-active-background),
    var(--toolbarButton-active-background)
  );
  border-color: var(--toolbarButton-active-border-color);
}

[theme='dark'] #zotero-tb-split .toolbarButton:-moz-focusring::after {
  box-shadow: inset 0 0 0 1px var(---moz-focusring--after-box-shadow),
    0 0 0 3px var(---moz-focusring--after-box-shadow);
}

[theme='dark'] #zotero-tb-split .toolbarButton > span:first-child {
  background: linear-gradient(
        var(--toolbarButton-box-shadow),
        var(--toolbarButton-box-shadow)
      )
      no-repeat left center/1px 22px,
    url(chrome://zotero/skin/mac/menubutton-start.png) no-repeat center top;
}

[theme='dark'] .AnnotationBox .container {
  border: 1px solid var(--container-border);
  background: var(--white);
}

[theme='dark'] .AnnotationBox .container .header {
  border-bottom: 1px solid var(--container-border);
}

[theme='dark'] .react-autosuggest__suggestions-container--open {
  border: 1px solid var(--react-autosuggest--suggestions-container--open-border);
  box-shadow: -1px 10px 17px -7px var(--react-autosuggest--suggestions-container--open-box-shadow);
}

[theme='dark']
  :root:not([legacytoolbar='true'])
  #tab-bar-container
  .tab.selected {
  background: var(--root-not-background);
}

[theme='dark'] :root:not([legacytoolbar='true']) #zotero-toolbar {
  background: var(--root-not-background);
  border-bottom: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .notes-list-container {
  background: var(--notes-list-container-background);
  border-top: 1px solid var(--notes-list-container-border-top);
}

[theme='dark'] .note-row {
  border: 1px solid var(--note-row-border);
  background-color: var(--white);
}

[theme='dark'] .note-row:active {
  background: var(--active-background);
}

[theme='dark'] .note-row .inner .parent-line {
  border-bottom: 1px solid var(--container-border);
}

[theme='dark'] .note-row .inner .body-line .date {
  color: var(--date-color);
}

[theme='dark'] .note-row .inner .body-line .body {
  color: var(--date-color);
}

[theme='dark'] .more-row {
  border: 1px solid var(--note-row-border);
  background-color: var(--white);
}

[theme='dark'] .more-row:active {
  background: var(--active-background);
}

[theme='dark'] .note-row:-moz-focusring,
.more-row:-moz-focusring {
  box-shadow: 0 0 0 4px var(---moz-focusring--after-box-shadow),
    inset 0 1px 0 var(---moz-focusring-box-shadow),
    0 0 0 1px var(---moz-focusring-box-shadow),
    0 1px 0 var(--toolbarButton-box-shadow);
}

[theme='dark'] .downloadProgress[mode='undetermined'] > .progress-bar {
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--progress-bar-background-image) 25%,
    transparent 50%,
    var(--progress-bar-background-image) 75%,
    transparent 100%
  );
}

[theme='dark'] .tabs:before {
  border-bottom: 0.5px solid var(--root-not-border-bottom);
  border-inline-end: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .tabs:after {
  border-bottom: 0.5px solid var(--root-not-border-bottom);
  border-inline-start: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .tab {
  background: var(--tab-background);
  color: var(--tab-color);
}

[theme='dark'] .tab:not(:last-child) {
  border-inline-end: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .tab.selected {
  border-top: 2px solid var(--tab-selected-border-top);
}

[theme='dark'] .tab.dragging {
  border-inline-start: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .tab.dragging + .tab {
  border-inline-start: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .tab .tab-close:hover {
  background-color: var(--tab-close-hover-background-color);
}

[theme='dark'] .tab .tab-close:active {
  background-color: var(--active-background-color);
}

[theme='dark'] .tab:not(.selected) {
  border-bottom: 0.5px solid var(--root-not-border-bottom);
}

[theme='dark'] .tag-selector-item.dragged-over {
  color: var(--white);
  background: var(--date-color);
}

[theme='dark'] .virtualized-table .row.drop,
.drag-image-container .row.drop {
  color: var(--white) !important;
  background: var(--row-drop-background) !important;
}

[theme='dark'] .virtualized-table .row span.drop-before,
.virtualized-table .row span.drop-after,
.drag-image-container .row span.drop-before,
.drag-image-container .row span.drop-after {
  background-color: var(--row-drop-background);
}

[theme='dark'] .virtualized-table .row.highlighted,
.drag-image-container .row.highlighted {
  background: var(--row-highlighted-background);
}

[theme='dark'] .virtualized-table .column-drag-marker,
.drag-image-container .column-drag-marker {
  background-color: var(--column-drag-marker-background-color);
}

[theme='dark'] .virtualized-table-header {
  border-bottom: 1px solid var(--column-drag-marker-background-color);
  background: var(--root-not-background);
  border-inline-end: 1px solid var(--toolbarButton-active-background);
}

[theme='dark'] .virtualized-table-header .cell:hover {
  background: var(--white);
}

[theme='dark'] .virtualized-table-header .cell.dragging {
  background: var(--cell-dragging-background);
}

[theme='dark'] .virtualized-table-header .cell .resizer {
  background: linear-gradient(
      var(--toolbarButton-active-background),
      var(--toolbarButton-active-background)
    )
    no-repeat center/1px 80%;
}

[theme='dark'] .twisty svg {
  fill: var(--svg-fill);
}

[theme='dark'] .tag-selector-filter-container {
  border-top: 1px solid var(--toolbarButton-active-background);
}

[theme='dark'] .virtualized-table .twisty svg,
.drag-image-container .twisty svg {
  fill: var(--svg-fill);
}

[theme='dark'] .virtualized-table .selected:not(.highlighted) .twisty svg,
.drag-image-container .selected:not(.highlighted) .twisty svg {
  fill: var(--white);
}

[theme='dark'] .virtualized-table-body .cell:not(:first-child),
.drag-image-container .cell:not(:first-child) {
  background-image: linear-gradient(
    var(--toolbarButton-active-background),
    var(--toolbarButton-active-background)
  );
}

[theme='dark'] #zotero-collections-tree .virtualized-table {
  background-color: var(--notes-list-container-background);
}

[theme='dark']
  #zotero-collections-tree
  .virtualized-table
  .row.selected:not(.highlighted) {
  background: -moz-linear-gradient(
      top,
      var(--row-selected-not-background),
      var(--row-selected-not-background)
    )
    repeat-x;
  border-top: 1px solid var(--row-selected-not-border-top);
  color: var(--white) !important;
}

[theme='dark']
  #zotero-collections-tree
  .virtualized-table:not(:focus)
  .row.selected:not(.highlighted) {
  background: -moz-linear-gradient(
      top,
      var(--virtualized-table-not-background),
      var(--virtualized-table-not-background)
    )
    repeat-x;
  border-top: 1px solid var(--virtualized-table-not-border-top);
}

[theme='dark']
  #zotero-collections-tree
  .virtualized-table:-moz-window-inactive {
  background-color: var(---moz-window-inactive-background-color);
}

[theme='dark']
  #zotero-collections-tree
  .virtualized-table:-moz-window-inactive
  .row.selected:not(.highlighted) {
  background: -moz-linear-gradient(
      top,
      var(--row-selected-not-background),
      var(--row-selected-not-background)
    )
    repeat-x;
  border-top: 1px solid var(--row-selected-not-border-top);
}

[theme='dark'] #zotero-items-tree .virtualized-table:not(:focus) .row.selected {
  background: var(--row-selected-background);
}

[theme='dark']
  #zotero-items-tree
  .virtualized-table:not(:focus)
  .row.selected
  .twisty
  svg {
  fill: var(--svg-fill);
}
